name: yakachokbot

services:
  telegram-bot:
    build: .
    restart: unless-stopped
    volumes:
      - ./yakachokbot:/app/storage
      - telegram-bot-server-data:/var/lib/telegram-bot-api
    env_file:
      - .env
    environment:
      # get your bot token from @BotFather
      TELEGRAM_BOT_TOKEN: "${TELEGRAM_BOT_TOKEN}"

      # comma separated list of telegram user ids, leave empty to allow all users
      WHITELISTED_IDS: "${WHITELISTED_IDS}"

      # admin user id
      ADMIN_ID: "${ADMIN_ID}"

      # whether to allow groups (optional, defaults to "false")
      ALLOW_GROUPS: "false"

      TELEGRAM_API_ROOT: "http://telegram-bot-api:8081"

      # whether to automatically update yt-dlp
      # defaults to "true", set to "false" to disable
      YTDL_AUTOUPDATE: "true"

      # provide your OpenAI API key to enable auto-translation (optional)
      OPENAI_API_KEY: "${OPENAI_API_KEY}"

      # provide your cobalt instance url (optional, can be left as-is for the default compose.yml)
      COBALT_INSTANCE_URL: "http://cobalt:9000"

    depends_on:
      telegram-bot-api:
        condition: service_healthy
      cobalt:
        condition: service_healthy

  telegram-bot-api:
    image: aiogram/telegram-bot-api:latest
    restart: unless-stopped
    env_file:
      - .env
    environment:
      # get these values from https://core.telegram.org/api/obtaining_api_id
      TELEGRAM_API_ID: "${TELEGRAM_API_ID}"
      TELEGRAM_API_HASH: "${TELEGRAM_API_HASH}"
    command:
      - --dir=/var/lib/telegram-bot-api
      - --local
    volumes:
      - telegram-bot-server-data:/var/lib/telegram-bot-api
    healthcheck:
      test: ["CMD-SHELL", "nc -z 127.0.0.1 8081 || exit 1"]
      interval: 5s
      timeout: 30s
      retries: 3

  cobalt:
    image: ghcr.io/imputnet/cobalt:latest
    restart: unless-stopped
    environment:
      - API_URL=http://cobalt:9000
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:9000"]
      interval: 5s
      timeout: 30s
      retries: 3

  watchtower:
    image: containrrr/watchtower
    restart: unless-stopped
    environment:
      - DOCKER_API_VERSION=1.44
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 3600 --cleanup

volumes:
  telegram-bot-server-data:
    driver: local
